<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>EInkBot - Aviso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
        <h1 class="brand-name">EinkBot</h1>
    </div>
    <div class="page-content">
        <div class="cards-container">
            <a href="https://aviso.bz/login" class="card">aviso.bz</a>
            <a href="https://m.youtube.com/?hl=en" class="card">YouTube</a>
            <a href="https://vk.com" class="card">VK</a>
        </div>
    </div>
    <div class="version">v{{ version }}</div>
    <div id="particles-js"></div>
    <script src="{{ url_for('static', filename='particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>